
/* Resetando CSS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-size: auto 100%;
  height: 100vh;
  background-color: whitesmoke;
  /* font-size: 10px; */
}

/* Se a tela tiver ao menos 400px */
@media (min-width: 400px) {
  body {
    /* font-size: 20px; */
  }
}

header{
  align-items: center;
  background-image: url("../img/fundo_background.jpg");
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  display: flex;
  height: 70vh;
  justify-content: center;
}

.menu{
  background-color: whitesmoke;
  position: fixed;
  width: 100vw;
  top: 0;
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  font-size: 2rem;
}

.menu ul{
  display: flex;
  justify-content: space-around;
}

.menu li{
  list-style: none;
}

.menu a{
  display: block;
  padding: 1rem 2rem;
}

a{
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

a:hover{
  background-color: #2B64BD;
  color: white;
}

.site-title{
  color: whitesmoke;
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
}

.site-subtitle{
  font-style: italic;
  color: whitesmoke;
  text-align: center;
  font-size: 3rem;
}

.caixa {
  width: 100vw;
  margin: 0 auto;
}

.caixa img {
  margin-right: 1.5rem;
}

.caixa h2 {
  font-size: 3rem;
  margin: 0 0 2rem 2rem;
  padding-top: 4.5rem;
  font-family: 'Comfortaa', cursive;
}

.caixa p {
  margin: 0 0 2rem 0;
  font-size: 2.3rem;
}



.grid {
  display: grid;
  font-size: 1.8rem;
  grid-template-columns: 50rem 50rem;
  grid-template-rows: 28rem 28rem;
}

.grid img {
margin-bottom: 1rem;
}

.grid figcaption {
  margin-bottom: 1.5rem;
}

@media (max-width:400px) {
  .grid{
    grid-template-columns: 15rem;
    
  }

  .img-altura {
    width: 100vw;
  }
  .img-largura{
    width: 100vw;
  }
}


.foto_sobre {
  float: left;
  width: 22rem;
}

.img-altura{
  height: 20rem;
}

.img-largura {
  height: 25rem;
}

.icons {
  margin: 2.5rem 0;
  text-align: center;
  width: 1rem;
}

.contato a {
  color: black;
  font-size: 5rem;
  margin: 0 2rem;
}

.contato a:hover{
  background-color: whitesmoke;
  color: grey;
}